# 1. 安全起见，全局允许所有不信任的安装脚本
ignore-scripts=false

# 2. 显式指定：只允许下列依赖运行它们的构建脚本
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@cathodique/mmap-io
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=unrs-resolver
