name: Auto-approve Dependabot PRs

on:
  # pull_request:
  #   types: [opened, synchronize, reopened]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # 每天 UTC 零点运行

permissions:
  contents: write
  pull-requests: write
  checks: read
  actions: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main

      - name: Setup Node.js
        uses: actions/setup-node@main
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install @octokit/rest

      - name: Auto-approve Dependabot PRs
        env:
          GITHUB_TOKEN: ${{ secrets.USER_PAT }}
          GITHUB_REPOSITORY: ${{ github.repository }}
        run: node scripts/auto-approve.js
